.content-20 .centered-signup-form form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 10px 0 0;
  padding: 37px 10.263% 76px;
  background: white;
  font-size: 15px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.contacts-2 .map {
  height: 300px;
  margin: 25px 0 60px;
}

.faq p {
  font-size: 16px;
}

.faq .question {
  font-size: 18px;
}

.faq .answer li {
  font-size: 18px;
  margin: 10px 0;
}