<template name="Contact">


	<!-- Contact section start -->

	<section id="contact-header" class="section-header">

		<div class="color-overlay">

			<div class="container">

				<div class="row">

					<div class="col-sm-12 wow bounceInDown">
						<h2>Contact Us</h2>
						<p>Drop us a line or give us a ring. We love to hear you.</p>
					</div>

				</div>

			</div>

		</div>

	</section>

	<!-- Contact-data section start -->

	<section id="contact-data" class="callout-light">

		<div class="container">

			<div class="row">

				<div class="col-sm-4 wow bounceInLeft">
					<div class="service">
						<div class="icon">
							<i class="fa fa-envelope-o"></i>
						</div>
						<h4>Email</h4>
						<div class="text">
							<address>
								<a href="mailto:#">admin@acupuncturecleveland.com</a><br/>
							</address>
						</div>
					</div>
				</div>

				<div class="col-sm-4 wow bounceInUp">
					<div class="service">
						<div class="icon">
							<i class="fa fa-phone"></i>
						</div>
						<h4>Phone</h4>
						<div class="text">
							<address>
								<abbr title="Phone">P:</abbr> +1 (440) 725-4931<br/>
							</address>
						</div>
					</div>
				</div>

				<div class="col-sm-4 wow bounceInRight">
					<div class="service">
						<div class="icon">
							<i class="fa fa-map-marker"></i>
						</div>
						<h4>Address</h4>
						<div class="text">
							<address>
							  The Acupuncture Clinic of Solon<br/>
								33595 Bainbridge Road, Suite 101<br/>
								Solon, Ohio 44139
							</address>
						</div>
					</div>
				</div>

			</div><!-- .row -->

		</div><!-- .container -->

	</section>

	<!-- Contact-data section end -->

	<section id="contact" class="section">

		<div class="container">

			<div class="row">

				<div class="col-md-6 wow bounceInUp">

          <h4>Fees</h4>
          <table class="table table-condensed">
            <tbody>
              <tr>
                <td>Consultation</td>
                <td><strong>FREE</strong></td>
              </tr>
              <tr>
                <td>First Visit</td>
                <td>$105</td>
              </tr>
              <tr>
                <td>Additional Visits</td>
                <td>$95</td>
              </tr>
            </tbody>
          </table>
          <hr/>

					<h4>Business Hours</h4>
					<ul class="list-unstyled">
						<li>Mon, Wed, and Fri: 10am to 5pm</li>
					</ul>
					<hr/>
<!-- 
					<h4>Follow us</h4>
					<ul class="icons-widget">
						<li><a href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
						<li><a href="#"><i class="fa fa-github-alt"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					</ul> -->

				</div><!-- .col -->

				<div class="col-md-6 bounceInLeft">

					<h4>Get in touch</h4>
					<form id="contact-form" method="post" role="form">

						<div class="ajax-hidden">

							<div class="form-group">
								<label class="sr-only" for="c_name">Name</label>
								<input type="text" id="c_name" class="form-control" name="c_name" placeholder="Name">
							</div>

							<div class="form-group">
								<label class="sr-only" for="c_email">Email address</label>
								<input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail">
							</div>

							<div class="form-group">
								<label class="sr-only" for="c_subject">Subject</label>
								<input type="text" id="c_subject" class="form-control" name="c_subject" placeholder="Email Subject">
							</div>

							<div class="form-group">
								<textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Your Message"></textarea>
							</div>

							<button type="submit" class="btn btn-custom-1-inverse">
								<i class="fa fa-bullhorn icon-before"></i> Send it
							</button>

						</div>

						<div class="ajax-response"></div><!-- Displays status when submitting form -->

					</form>

				</div><!-- .col -->

			</div><!-- .row -->

		</div><!-- .container -->

	</section>

	<!-- Contact section end -->

</template>