<template name="Contact">


	<!-- Contact section start -->

	<section id="contact-header" class="section-header">

		<div class="color-overlay">

			<div class="container">

				<div class="row">

					<div class="col-sm-12 wow bounceInDown">
						<h2>Contact Us</h2>
						<p>Drop us a line or give us a ring. We love to hear you.</p>
					</div>

				</div>

			</div>

		</div>

	</section>

	<!-- Contact-data section start -->

	<section id="contact-data" class="callout-light">

		<div class="container">

			<div class="row">

				<div class="col-sm-4 wow bounceInLeft">
					<div class="service">
						<div class="icon">
							<i class="fa fa-envelope-o"></i>
						</div>
						<h4>Email</h4>
						<div class="text">
							<address>
								<a href="mailto:admin@acupuncturecleveland.com">admin@acupuncturecleveland.com</a><br/>
							</address>
						</div>
					</div>
				</div>

				<div class="col-sm-4 wow bounceInUp">
					<div class="service">
						<div class="icon">
							<i class="fa fa-phone"></i>
						</div>
						<h4>Phone</h4>
						<div class="text">
							<address>
								<a href="tel:4407254931">+1 (440) 725-4931</a><br/>
							</address>
						</div>
					</div>
				</div>

				<div class="col-sm-4 wow bounceInRight">
					<div class="service">
						<div class="icon">
							<i class="fa fa-map-marker"></i>
						</div>
						<h4>Address</h4>
						<div class="text">
							<address>
								<a href="https://www.google.com/maps/place/Acupuncture+Clinic+of+Solon/@41.389604,-81.440084,15z/data=!4m2!3m1!1s0x0:0x2b4c1be6b248f1e4?sa=X&ei=wAE6VamOD46zogSEqICQDg&ved=0CIgBEPwSMAo" target="_blank">
								  The Acupuncture Clinic of Solon<br/>
									33595 Bainbridge Road, Suite 101<br/>
									Solon, Ohio 44139
								</a>
							</address>
						</div>
					</div>
				</div>

			</div><!-- .row -->

		</div><!-- .container -->

	</section>

	<!-- Contact-data section end -->

	<section id="contact" class="section">

		<div class="container">

			<div class="row">

				<div class="col-md-6 wow bounceInUp">

          <h4>Fees</h4>
          <table class="table table-condensed">
            <tbody>
              <tr>
                <td>Consultation</td>
                <td><strong>FREE</strong></td>
              </tr>
              <tr>
                <td>First Visit</td>
                <td>$105</td>
              </tr>
              <tr>
                <td>Additional Visits</td>
                <td>$95</td>
              </tr>
            </tbody>
          </table>
          <hr/>

					<h4>Business Hours</h4>
					<ul class="list-unstyled">
						<li>Mon, Wed, and Fri: 10am to 5pm</li>
					</ul>
					<hr/>
<!-- 
					<h4>Follow us</h4>
					<ul class="icons-widget">
						<li><a href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
						<li><a href="#"><i class="fa fa-github-alt"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					</ul> -->

				</div><!-- .col -->

				<div class="col-md-6 bounceInLeft">

					<h4>Get in touch</h4>

				  {{#autoForm schema=contactFormSchema id="contactForm" type="method" meteormethod="sendContactEmail"}}
				  <fieldset>
				    {{> afQuickField name="name"}}
				    {{> afQuickField name="email"}}
				    {{> afQuickField name="subject"}}
				    {{> afQuickField name="message" rows=10}}
				    {{> afQuickField name="referral" options="allowed"}}
				 		{{#if afFieldValueIs name="referral" value="Referring Doctor (Please Specify)"}}
							{{> afQuickField name="doctorName"}}
						{{/if}}
				 		{{#if afFieldValueIs name="referral" value="Friend's Recommendation (Please Specify)"}}
							{{> afQuickField name="friendName"}}
						{{/if}}
						{{#if afFieldValueIs name="referral" value="Other (Please Specify)"}}
							{{> afQuickField name="specificReferral"}}
						{{/if}}
				    <div>
				      <button type="submit" class="btn btn-primary">Submit</button>
				      <button type="reset" class="btn btn-default">Reset</button>
				    </div>
				  </fieldset>
				  {{/autoForm}}

<!-- 					<form id="contact-form" method="post" role="form">

						<div class="ajax-hidden">

							<div class="form-group">
								<label class="sr-only" for="c_name">Name</label>
								<input type="text" id="c_name" class="form-control" name="c_name" placeholder="Name">
							</div>

							<div class="form-group">
								<label class="sr-only" for="c_email">Email address</label>
								<input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail">
							</div>

							<div class="form-group">
								<label class="sr-only" for="c_subject">Subject</label>
								<input type="text" id="c_subject" class="form-control" name="c_subject" placeholder="Subject">
							</div>

							<div class="form-group">
							  <label class="sr-only" for="c_message">Message</label>
								<textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Message"></textarea>
							</div>

							<div class="form-group">
							  <label class="sr-only" for="c_referral">How did you find us?</label>
								<select class="form-control" name="c_referral" id="referral_list">
								  <option>Where did you find us?</option>
								  <option>Google</option>
								  <option>Yelp</option>
								  <option>HealthGrades</option>
								  <option>Referring Doctor</option>
								  <option>Other (please specify)</option>
								</select>
							</div>

							<div class="form-group">
								<label class="sr-only" for="c_doctor_name">Doctor's Name</label>
								<input type="text" class="form-control hidden_input" name="c_doctor_name" placeholder="Please Enter Doctor's Name">
							</div>

							<div class="form-group">
								<label class="sr-only" for="c_other_referrer">How did you find us?</label>
								<input type="text" class="form-control hidden_input" name="c_other_referrer" placeholder="Please Specify">
							</div>

							<button type="submit" class="btn btn-custom-1-inverse">
								<i class="fa fa-bullhorn icon-before"></i> Send it
							</button>

						</div>

						<div class="ajax-response"></div>

					</form> -->

				</div><!-- .col -->

			</div><!-- .row -->

		</div><!-- .container -->

	</section>

	<!-- Contact section end -->

</template>