<template name="faq">
	<section class="content-20 v-center bg-midnight-blue">
		<div>
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<h3>Frequently Asked Questions</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<div class="panel-group faq" id="accordion">
							{{#each faqContents}}
							<div class="panel panel-default">
							  <div class="panel-heading">
							    <h4 class="panel-title">
							      <a class="question" data-toggle="collapse" data-parent="#accordion" href="#collapse{{number}}">{{question}}</a>
							    </h4>
							  </div>
							  <div id="collapse{{number}}" class="panel-collapse collapse">
							    <div class="panel-body answer">
							      {{{answer}}}
							    </div>
							  </div>
							</div>
							{{/each}}
						</div>
	  			</div>
	  		</div>
	  	</div>
  	</div>
  </section>
</template>