<template name="Faq">

	<!-- About section start -->

	<section id="faq-header" class="section-header">

		<div class="color-overlay">

			<div class="container">

				<div class="row">

					<div class="col-sm-12 wow bounceInDown">
						<h2>Frequently Asked Questions</h2>
					</div>

				</div>

			</div>

		</div>

	</section>

	<section id="faq" class="section">

		<div class="container">

			<div class="row">

				<div class="col-xs-12 wow bounceInLeft">

					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<ul>
								{{#each faqContents}}
								<h3>{{question}}</h3>
								<p>{{{answer}}}</p>
								{{/each}}
							</ul>
		  			</div>
		  		</div>
				</div><!-- .com-md-6 -->

			</div><!-- .row -->

		</div><!-- .container -->

	</section>

	<!-- About section start -->

</template>