<template name="index">
	<!-- Intro section start -->

	<section id="intro" class="section">

		<div class="container">

			<div class="row">

				<div class="col-md-12">

					<div class="hello wow bounceInDown">
						<h4>Welcome to</h4>
						<h1 id="main-title">The Acupuncture Clinic of Solon</h1>
						<h3><span class="rotate">Acupuncture | Herbal Medicine | All Natural</span></h3>
					</div>

					<a href="#about">
						<div class="mouse-icon">
							<div class="wheel"></div>
						</div>
					</a>

				</div>

			</div><!-- .row -->

		</div><!-- .container -->

	</section>

	<!-- Intro section end -->

	<section id="services" class="section">

		<div class="container">

			<div class="row">

				<div class="col-sm-4 wow bounceInLeft">
					<div class="service">
						<div class="icon">
							<i class="fa fa-pencil"></i>
						</div>
						<h4>Text rotator</h4>
						<div class="text">
							<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4 wow bounceInUp">
					<div class="service">
						<div class="icon">
							<i class="fa fa-image"></i>
						</div>
						<h4>Slideshow</h4>
						<div class="text">
							<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4 wow bounceInRight">
					<div class="service">
						<div class="icon">
							<i class="fa fa-cog"></i>
						</div>
						<h4>Easy configure</h4>
						<div class="text">
							<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
						</div>
					</div>
				</div>

			</div><!-- .row -->

			<div class="clearfix"></div>

			<div class="row">

				<div class="col-sm-4 wow bounceInUp" data-wow-delay=".2s">
					<div class="service">
						<div class="icon">
							<i class="fa fa-code"></i>
						</div>
						<h4>Clear code</h4>
						<div class="text">
							<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4 wow bounceInUp" data-wow-delay=".4s">
					<div class="service">
						<div class="icon">
							<i class="fa fa-desktop"></i>
						</div>
						<h4>Responsive design</h4>
						<div class="text">
							<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4 wow bounceInUp" data-wow-delay=".6s">
					<div class="service">
						<div class="icon">
							<i class="fa fa-life-ring"></i>
						</div>
						<h4>Support</h4>
						<div class="text">
							<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
						</div>
					</div>
				</div>

			</div><!-- .row -->

		</div><!-- .container -->

	</section>

	<!-- Services section end -->

	<!-- About section start -->

	<section id="about-header" class="section-header">

		<div class="color-overlay">

			<div class="container">

				<div class="row">

					<div class="col-sm-12 wow bounceInDown">
						<h2>About us</h2>
						<p>Something about who we are.</p>
					</div>

				</div>

			</div>

		</div>

	</section>

	<section id="about" class="section">

		<div class="container">

			<div class="row">

				<div class="col-md-6 wow bounceInLeft">

					<h3>Who we are</h3>
					<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.I am alone which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>

					<div class="row">
						<div class="col-sm-6">
							<ul class="list-unstyled iconList">
								<li>Build with Bootstrap 3.2</li>
								<li>Touch enabled carousel slider</li>
								<li>Slideshow Background</li>
								<li>Contact form <span class="label label-custom-1">New</span></li>
								<li>Responsive video <span class="label label-custom-1">New</span></li>
							</ul>
						</div>

						<div class="col-sm-6">
							<ul class="list-unstyled iconList">
								<li>Well commented code</li>
								<li>Text rotator</li>
								<li>Fully responsive</li>
								<li>Google Maps <span class="label label-custom-2">New</span></li>
								<li>Animation Knobs - skills <span class="label label-custom-2">New</span></li>
							</ul>
						</div>
					</div>

				</div><!-- .com-md-6 -->

				<div class="col-md-6 wow bounceInRight">
					<img src="assets/images/device.jpg" alt="">
				</div>

				<div class="clearfix"></div>

				<div class="col-md-6">
					<div class="vertical-service wow bounceInUp">
						<h4><i class="fa fa-desktop line-icon-before"></i>Retina ready Icons</h4>
						<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.I am alone which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
					</div>
				</div>

				<div class="col-md-6">
					<div class="vertical-service wow bounceInUp" data-wow-delay=".2s">
						<h4><i class="fa fa-google line-icon-before"></i>Google web fonts</h4>
						<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.I am alone which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
					</div>
				</div>

			</div><!-- .row -->

		</div><!-- .container -->

	</section>

	<!-- About section start -->

	<!-- Skill section start -->

	<section id="skill" class="callout-light">

		<div class="container">

			<div class="row">

				<div class="col-md-3 col-sm-6 knob wow bounceInLeft">
					<input class="custom-knob" data-linecap="round" data-count-to="90">
					<h3>Quality</h3>
					<p>I am alone, and feel the charm of existence in this spot.</p>
				</div>

				<div class="col-md-3 col-sm-6 knob wow bounceInDown">
					<input class="custom-knob" data-linecap="round" data-count-to="75">
					<h3>Creative</h3>
					<p>I am alone, and feel the charm of existence in this spot.</p>
				</div>

				<div class="col-md-3 col-sm-6 knob wow bounceInUp">
					<input class="custom-knob" data-linecap="round" data-count-to="60">
					<h3>Branding</h3>
					<p>I am alone, and feel the charm of existence in this spot.</p>
				</div>

				<div class="col-md-3 col-sm-6 knob wow bounceInRight">
					<input class="custom-knob" data-linecap="round" data-count-to="85">
					<h3>Trendy</h3>
					<p>I am alone, and feel the charm of existence in this spot.</p>
				</div>

			</div><!-- .row -->

		</div><!-- .container -->

	</section>

	<!-- Skill section end -->

	<!-- Portfolio section start -->

	<section id="portfolio-header" class="section-header">

		<div class="color-overlay">

			<div class="container">

				<div class="row">

					<div class="col-sm-12 wow bounceInDown">
						<h2>Portfolio</h2>
						<p>Our best works.</p>
					</div>

				</div>

			</div>

		</div>

	</section>

	<section id="portfolio" class="section">

		<div class="container">

			<div class="row">

				<div class="col-md-4 col-sm-6 wow bounceInLeft">
					<a href="assets/images/p1.jpg" class="pop-up" title="Caption 1">
						<div class="portfolio-item">
							<div class="portfolio-item-preview">
								<img src="assets/images/p1.jpg" alt="">
							</div>
							<div class="portfolio-item-description">
								<h3>Some work</h3>
								<p>Category</p>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 col-sm-6 wow bounceInUp">
					<a href="https://vimeo.com/45830194" class="video-pop-up" title="Caption 2">
						<div class="portfolio-item">
							<div class="portfolio-item-preview">
								<img src="assets/images/p2.jpg" alt="">
							</div>
							<div class="portfolio-item-description">
								<h3>Video</h3>
								<p>Category</p>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 col-sm-6 wow bounceInRight">
					<a href="assets/images/p3.jpg" class="pop-up" title="Caption 3">
						<div class="portfolio-item">
							<div class="portfolio-item-preview">
								<img src="assets/images/p3.jpg" alt="">
							</div>
							<div class="portfolio-item-description">
								<h3>Some work</h3>
								<p>Category</p>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 col-sm-6 wow bounceInUp" data-wow-delay=".2s">
					<a href="assets/images/p4.jpg" class="pop-up" title="Caption 4">
						<div class="portfolio-item">
							<div class="portfolio-item-preview">
								<img src="assets/images/p4.jpg" alt="">
							</div>
							<div class="portfolio-item-description">
								<h3>Some work</h3>
								<p>Category</p>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 col-sm-6 wow bounceInUp" data-wow-delay=".4s">
					<a href="assets/images/p5.jpg" class="pop-up" title="Caption 5">
						<div class="portfolio-item">
							<div class="portfolio-item-preview">
								<img src="assets/images/p5.jpg" alt="">
							</div>
							<div class="portfolio-item-description">
								<h3>Some work</h3>
								<p>Category</p>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 col-sm-6 wow bounceInUp" data-wow-delay=".6s">
					<a href="assets/images/p6.jpg" class="pop-up" title="Caption 6">
						<div class="portfolio-item">
							<div class="portfolio-item-preview">
								<img src="assets/images/p6.jpg" alt="">
							</div>
							<div class="portfolio-item-description">
								<h3>Some work</h3>
								<p>Category</p>
							</div>
						</div>
					</a>
				</div>

			</div><!-- .row -->

		</div><!-- .container -->

	</section>

	<!-- Portfolio section end -->

	<!-- Testimonial section start -->

	<section id="testimonials" class="callout-light">

		<div class="container">

			<div class="row">

				<div class="col-md-12">

					<div id="owl-testimonials" class="owl-carousel wow bounceInDown">

						<div class="owl-item">
							<div class="avatar">
								<img src="https://s3.amazonaws.com/uifaces/faces/twitter/soffes/128.jpg" alt="">
							</div>
							<blockquote>
								<h4>Jack Woods</h4>
								<h6>Programmer, SomeCompany</h6>
								<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
							</blockquote>
							<div class="stars">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star star-off"></i>
							</div>
						</div>

						<div class="owl-item">
							<div class="avatar">
								<img src="https://s3.amazonaws.com/uifaces/faces/twitter/dannpetty/128.jpg" alt="">
							</div>
							<blockquote>
								<h4>Jack Woods</h4>
								<h6>Development, SomeCompany</h6>
								<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
							</blockquote>
							<div class="stars">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div>

						<div class="owl-item">
							<div class="avatar">
								<img src="https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg" alt="">
							</div>
							<blockquote>
								<h4>Jack Woods</h4>
								<h6>Manager, SomeCompany</h6>
								<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
							</blockquote>
							<div class="stars">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star star-off"></i>
							</div>
						</div>

					</div><!-- #owl-testimonials -->

				</div><!-- .col -->

			</div><!-- .row -->

		</div><!-- .container -->

	</section>

	<!-- Testimonial section end -->

	<!-- Team section start -->

	<section id="team-header" class="section-header">

		<div class="color-overlay">

			<div class="container">

				<div class="row">

					<div class="col-sm-12 wow bounceInDown">
						<h2>Our Team</h2>
						<p>You will be work with.</p>
					</div>

				</div>

			</div>

		</div>

	</section>

	<section id="team" class="section">

		<div class="container">

			<div class="row">

				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 wow bounceInBottom">
					<div class="member">
						<img src="assets/images/member1-1.jpg" alt="">
						<div class="member-data">
							<h3><a id="ZPModalLink" href="#">Zheng-Ping Chen</a></h3>
							<span><b>Mrs. Zhengping Chen</b> is Licensed by the Ohio Medical Board and is a nationally certified acupuncturist and member of the NCCAOM.
							</span>
						</div>
						<ul class="icons-widget icons-widget-sm">
							<li><a href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
							<li><a href="#"><i class="fa fa-github-alt"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>

			</div><!-- .row -->

		</div><!-- .container -->

	</section>

	<!-- Team section end -->

	<!-- Clients section start -->

	<section id="clients" class="callout-dark">

		<div class="container">

			<div class="row">

				<div class="col-md-12 wow bounceInUp">

					<div id="owl-clients" class="owl-carousel">

						<div class="owl-item">
							<img src="assets/images/logo/client100-1.png" alt="">
						</div>

						<div class="owl-item">
							<img src="assets/images/logo/client100-1.png" alt="">
						</div>

						<div class="owl-item">
							<img src="assets/images/logo/client100-1.png" alt="">
						</div>

						<div class="owl-item">
							<img src="assets/images/logo/client100-1.png" alt="">
						</div>

						<div class="owl-item">
							<img src="assets/images/logo/client100-1.png" alt="">
						</div>

						<div class="owl-item">
							<img src="assets/images/logo/client100-1.png" alt="">
						</div>

					</div>

				</div><!-- .col -->

			</div><!-- .row -->

		</div><!-- .container -->

	</section>

	<!-- Clients section end -->

	<!-- Contact section start -->

	<section id="contact-header" class="section-header">

		<div class="color-overlay">

			<div class="container">

				<div class="row">

					<div class="col-sm-12 wow bounceInDown">
						<h2>Contact Us</h2>
						<p>Drop us a line or give us a ring. We love to hear you.</p>
					</div>

				</div>

			</div>

		</div>

	</section>

	<!-- Contact-data section start -->

	<section id="contact-data" class="callout-light">

		<div class="container">

			<div class="row">

				<div class="col-sm-4 wow bounceInLeft">
					<div class="service">
						<div class="icon">
							<i class="fa fa-envelope-o"></i>
						</div>
						<h4>Email</h4>
						<div class="text">
							<address>
								<a href="mailto:#">admin@acupuncturecleveland.com</a><br/>
							</address>
						</div>
					</div>
				</div>

				<div class="col-sm-4 wow bounceInUp">
					<div class="service">
						<div class="icon">
							<i class="fa fa-phone"></i>
						</div>
						<h4>Phone</h4>
						<div class="text">
							<address>
								<abbr title="Phone">P:</abbr> +1 (440) 725-4931<br/>
							</address>
						</div>
					</div>
				</div>

				<div class="col-sm-4 wow bounceInRight">
					<div class="service">
						<div class="icon">
							<i class="fa fa-map-marker"></i>
						</div>
						<h4>Address</h4>
						<div class="text">
							<address>
							  The Acupuncture Clinic of Solon<br/>
								33595 Bainbridge Road, Suite 101<br/>
								Solon, Ohio 44139
							</address>
						</div>
					</div>
				</div>

			</div><!-- .row -->

		</div><!-- .container -->

	</section>

	<!-- Contact-data section end -->

	<section id="contact" class="section">

		<div class="container">

			<div class="row">

				<div class="col-md-6 wow bounceInLeft">

					<h4>Get in touch</h4>
					<form id="contact-form" method="post" role="form">

						<div class="ajax-hidden">

							<div class="form-group">
								<label class="sr-only" for="c_name">Name</label>
								<input type="text" id="c_name" class="form-control" name="c_name" placeholder="Name">
							</div>

							<div class="form-group">
								<label class="sr-only" for="c_email">Email address</label>
								<input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail">
							</div>

							<div class="form-group">
								<textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Your message"></textarea>
							</div>

							<button type="submit" class="btn btn-custom-1-inverse">
								<i class="fa fa-bullhorn icon-before"></i> Send it
							</button>

						</div>

						<div class="ajax-response"></div><!-- Displays status when submitting form -->

					</form>

				</div><!-- .col -->

				<div class="col-md-6 wow bounceInUp">

          <h4>Fees</h4>
          <table class="table table-condensed">
            <tbody>
              <tr>
                <td>Consultation</td>
                <td><strong>FREE</strong></td>
              </tr>
              <tr>
                <td>First Visit</td>
                <td>$125</td>
              </tr>
              <tr>
                <td>Additional Visits</td>
                <td>$75</td>
              </tr>
            </tbody>
          </table>
          <hr/>

					<h4>Business Hours</h4>
					<ul class="list-unstyled">
						<li>Mon, Wed, and Fri: 10am to 5pm</li>
					</ul>
					<hr/>

					<h4>Follow us</h4>
					<ul class="icons-widget">
						<li><a href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
						<li><a href="#"><i class="fa fa-github-alt"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					</ul>

				</div><!-- .col -->

			</div><!-- .row -->

		</div><!-- .container -->

	</section>

	<!-- Contact section end -->

	<!-- Google Map section start-->

	<section id="map-section">

		<div id="map" class="wow flipInX"></div>

	</section>

	<!-- Google Map section end -->

  <!-- Modal -->
  <div class="modal fade" id="ZPModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        	<div class="row">
        		<div class="col-sm-6">
          		<h4 class="modal-title" id="myModalLabel">About <b>Zheng-ping Chen</b></h4>
        		</div>
        		<div class="col-sm-6 text-right">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        		</div>
        	</div>
        </div>
        <div class="modal-body">
          <p>Ms. Zhengping Chen graduated from <a href="http://www.southbaylo.edu" target="_blank">South Baylo University</a> in Anaheim, CA at the top of her class and obtained a Master of Science degree in Acupuncture &amp; Oriental Medicine after its four-year full-time postgraduate program which included 3,000 hours of training. After graduation, she received intensive advanced training at China's most reputable Chinese medical school, the <a href="http://en.wikipedia.org/wiki/Beijing_University_of_Chinese_Medicine" target="_blank">Academy of Traditional Chinese Medicine</a>, in Beijing, China.</p>
          <p>Ms. Zhengping Chen comes from a family of traditional Chinese medical doctors. She is a third-generation oriental medicine doctor and started learning acupuncture and herbal medicine when she was a teenager in China. Because of her deep roots in oriental medicine, she is skilled in techniques most Western-educated oriental medicine doctors are unaware of. She has worked with her mother and sister in Seattle, where her family owns a successful oriental medicine clinic, and is also skilled in herbal health care.</p>
        </div>
      </div>
    </div>
  </div>
</template>