<template name="index">

	{{> Slideshow}}

	{{> Services}}

	{{> Faq}}

	{{> CaseStudies}}

	{{> Testimonials}}

	{{> Team}}

	{{> Clients}}

	{{> Contact}}

	<!-- Google Map section start-->

	<section id="map-section">

		<div id="map" class="wow flipInX"></div>

	</section>

	<!-- Google Map section end -->

  <!-- Modal -->
  <div class="modal fade" id="ZPModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        	<div class="row">
        		<div class="col-sm-6">
          		<h4 class="modal-title" id="myModalLabel">About <b>Zheng-ping Chen</b></h4>
        		</div>
        		<div class="col-sm-6 text-right">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        		</div>
        	</div>
        </div>
        <div class="modal-body">
          <p>Ms. Zhengping Chen graduated from <a href="http://www.southbaylo.edu" target="_blank">South Baylo University</a> in Anaheim, CA at the top of her class and obtained a Master of Science degree in Acupuncture &amp; Oriental Medicine after its four-year full-time postgraduate program which included 3,000 hours of training. After graduation, she received intensive advanced training at China's most reputable Chinese medical school, the <a href="http://en.wikipedia.org/wiki/Beijing_University_of_Chinese_Medicine" target="_blank">Academy of Traditional Chinese Medicine</a>, in Beijing, China.</p>
          <p>Ms. Zhengping Chen comes from a family of traditional Chinese medical doctors. She is a third-generation oriental medicine doctor and started learning acupuncture and herbal medicine when she was a teenager in China. Because of her deep roots in oriental medicine, she is skilled in techniques most Western-educated oriental medicine doctors are unaware of. She has worked with her mother and sister in Seattle, where her family owns a successful oriental medicine clinic, and is also skilled in herbal health care.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="CaseStudyModal" tabindex="-1" role="dialog" aria-labelledby="CaseStudyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="modal-title" id="CaseStudyModalLabel">About <b>Sam Smith</b></h4>
            </div>
            <div class="col-sm-6 text-right">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <p>
            I have undergone Western medical treatments for over 20 years for asthma, food and seasonal allergies. These treatments included corticosteroid inhalers, allergy injections, nasal sprays and oral medications. Normally I experienced several sinus and bronchial infections each year which were treated with many antibiotic medications. I also suffered from irregular heart rhythm on a frequent basis.
          </p>
          <p>
            Since beginning acupuncture treatments 6 months ago, I have begun to experience much improved health. I no longer require the use of any asthma or allergy medications, and the irregular heart rhythm episodes have dramatically diminished. My energy level and skin tone have noticeably changed for the better. After not feeling well for so many years, I am really appreciating the overall sense of well being I now enjoy.
          </p>
          <p>
            The funny thing is that I only tried acupuncture to keep a friend company who was going to have treatment for the first time. I thought it would be good encouragement and support for him. Little did I know what a life-changing experience it held for me in restoring me to better health.
          </p>
        </div>
      </div>
    </div>
  </div>

</template>