<template name="Services">

	<!-- Services section start -->

	<section id="services" class="section">

		<div class="container">

			<div class="row">

				<div class="col-sm-4 wow bounceInLeft">
					<div class="service">
						<div class="icon">
							<i class="fa fa-pencil"></i>
						</div>
						<h4>Acupuncture</h4>
						<div class="text">
							<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4 wow bounceInUp">
					<div class="service">
						<div class="icon">
							<i class="fa fa-image"></i>
						</div>
						<h4>Moxibustion</h4>
						<div class="text">
							<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4 wow bounceInRight">
					<div class="service">
						<div class="icon">
							<i class="fa fa-cog"></i>
						</div>
						<h4>Cupping</h4>
						<div class="text">
							<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
						</div>
					</div>
				</div>

			</div><!-- .row -->

			<div class="clearfix"></div>

			<div class="row">

				<div class="col-sm-4 wow bounceInUp" data-wow-delay=".2s">
					<div class="service">
						<div class="icon">
							<i class="fa fa-code"></i>
						</div>
						<h4>Herbal Medicine</h4>
						<div class="text">
							<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4 wow bounceInUp" data-wow-delay=".4s">
					<div class="service">
						<div class="icon">
							<i class="fa fa-desktop"></i>
						</div>
						<h4>Electro-Acupuncture</h4>
						<div class="text">
							<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4 wow bounceInUp" data-wow-delay=".6s">
					<div class="service">
						<div class="icon">
							<i class="fa fa-life-ring"></i>
						</div>
						<h4>Support</h4>
						<div class="text">
							<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
						</div>
					</div>
				</div>

			</div><!-- .row -->

		</div><!-- .container -->

	</section>

	<!-- Services section end -->

</template>