<template name="Team">

	<!-- Team section start -->

	<section id="team-header" class="section-header">

		<div class="color-overlay">

			<div class="container">

				<div class="row">

					<div class="col-sm-12 wow bounceInDown">
						<h2>The Doctor</h2>
					</div>

				</div>

			</div>

		</div>

	</section>

	<section id="team" class="section">

		<div class="container">

			<div class="row">

				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 wow bounceInBottom">
					<div class="member">
<!-- 						<img src="assets/images/member1-1.jpg" alt=""> -->
						<div class="member-data">
							<h3><a id="ZPModalLink" href="#">Zheng-Ping Chen</a></h3>
							<h4><a id="ZPModalLink" href="#">About Me</a></h4>
							<span><b>Mrs. Zhengping Chen</b> is Licensed by the Ohio Medical Board and is a nationally certified acupuncturist and member of the NCCAOM.
							</span>
						</div>
						<ul class="icons-widget icons-widget-sm">
							<li><a href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
							<li><a href="#"><i class="fa fa-github-alt"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>

			</div><!-- .row -->

		</div><!-- .container -->

	</section>

	<!-- Team section end -->

</template>