<template name="Testimonials">

	<!-- Testimonial section start -->

	<section id="testimonials" class="callout-light">

		<div class="container">

			<div class="row">

					<div class="col-sm-12 wow bounceInDown">
						<h2>Testimonials and Reviews</h2>
					</div>

				<div class="col-md-12">

					<div id="owl-testimonials" class="owl-carousel wow bounceInDown">

						<div class="owl-item">
							<a href="http://www.healthgrades.com/provider/zheng-ping-chen-2nhsf" target="blank">
								<div class="avatar">
									<img src="/assets/images/healthgradeslogo128.png" alt="HealthGrades Logo">
								</div>
								<blockquote>
									<h4>HealthGrades</h4>
									<h6>How American finds a doctor.</h6>
									<p>5 stars on HealthGrades!</p>
								</blockquote>
								<div class="stars">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</a>
						</div>

						<div class="owl-item">
							<div class="avatar">
								<img src="https://s3.amazonaws.com/uifaces/faces/twitter/dannpetty/128.jpg" alt="">
							</div>
							<blockquote>
								<h4>Dan Petty</h4>
								<h6>Migrains</h6>
								<p>Dr. Chen helped me greatly! The treatments were painless and after two weeks I was feeling great!</p>
							</blockquote>
							<div class="stars">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div>

						<div class="owl-item">
							<div class="avatar">
								<img src="https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg" alt="">
							</div>
							<blockquote>
								<h4>Sally Simon</h4>
								<h6>Fertility</h6>
								<p>Dr. Chen helped me greatly! The treatments were painless and after two weeks I was feeling great!</p>
							</blockquote>
							<div class="stars">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star star-off"></i>
							</div>
						</div>

					</div><!-- #owl-testimonials -->

				</div><!-- .col -->

			</div><!-- .row -->

		</div><!-- .container -->

	</section>

	<!-- Testimonial section end -->

</template>