<template name="Testimonials">

	<!-- Testimonial section start -->


	<section id="testimonials-header" class="section-header">

		<div class="color-overlay">

			<div class="container">

				<div class="row">

					<div class="col-sm-12 wow bounceInDown">
						<h2>Testimonials and Reviews</h2>
					</div>

				</div>

			</div>

		</div>

	</section>

	<section id="testimonials" class="section">

		<div class="container">

			<div class="row">
			
				<div class="col-md-12">

					<div id="owl-testimonials" class="owl-carousel wow bounceInDown">

						<div class="owl-item">
							<a href="http://www.healthgrades.com/provider/zheng-ping-chen-2nhsf" target="blank">
								<div class="avatar">
									<img src="/assets/images/healthgradeslogo128.png" alt="HealthGrades Logo">
								</div>
								<blockquote>
									<h4>HealthGrades</h4>
									<h6>How America finds a doctor.</h6>
									<p>5 stars on HealthGrades!</p>
								</blockquote>
								<div class="stars">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</a>
						</div>

						<div class="owl-item">
							<a id="TestimonialModal-1-link" href="#">
								<div class="avatar">
									<img src="/assets/images/pregnant-woman-icon-red.png" alt="Pregnant Woman Icon">
								</div>
								<blockquote>
									<h4>Allison T.</h4>
									<h6>Fertility</h6>
									<p>After trying to conceive naturally for a few years, my husband and I tried...</p>
								</blockquote>
								<div class="stars">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</a>
						</div>
						
						<div class="owl-item">
							<a id="TestimonialModal-4-link" href="#">
								<div class="avatar">
									<img src="/assets/images/knee128.png" alt="Joint Icon">
								</div>
								<blockquote>
									<h4>Dennis G.</h4>
									<h6>Knee Problems</h6>
									<p>I have a history of knee problems for which I underwent arthroscopic surgery several years ago...</p>
								</blockquote>
								<div class="stars">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</a>
						</div>

						<div class="owl-item">
							<a id="TestimonialModal-2-link" href="#">
								<div class="avatar">
									<img src="/assets/images/wheelchair128.png" alt="Wheelchair Icon">
								</div>
								<blockquote>
									<h4>Kathy G.</h4>
									<h6>Motor Neuron Disease</h6>
									<p>I have been confined to a wheelchair for many years due to motor neuron disease...</p>
								</blockquote>
								<div class="stars">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</a>
						</div>

						<div class="owl-item">
							<a id="TestimonialModal-3-link" href="#">
								<div class="avatar">
									<img src="/assets/images/knee128.png" alt="Joint Icon">
								</div>
								<blockquote>
									<h4>Sam G.</h4>
									<h6>Joint Pain</h6>
									<p>As a teenager I suffered frequent joint pains due to growth spurts and baseball pitching....</p>
								</blockquote>
								<div class="stars">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</a>
						</div>


		<!-- 				<div class="owl-item">
							<div class="avatar">
								<img src="https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg" alt="">
							</div>
							<blockquote>
								<h4>Sally Simon</h4>
								<h6>Fertility</h6>
								<p>Dr. Chen helped me greatly! The treatments were painless and after two weeks I was feeling great!</p>
							</blockquote>
							<div class="stars">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star star-off"></i>
							</div>
						</div> -->

					</div><!-- #owl-testimonials -->

				</div><!-- .col -->

			</div><!-- .row -->

		</div><!-- .container -->

	</section>

	<!-- Testimonial section end -->

</template>