<template name="crew">

  <section id="about" class="crew-4">
    <div class="container">
      <h3>Business Information</h3>
      <div class="row">
        <div class="col-sm-4">
          <div class="members">
            <div class="member-wrapper">
              <div class="member">
                <div class="photo-wrapper">
                  <div class="photo">
                    <img src="/assets/startup/common-files/img/crew/sergey-s.png" alt="">
                  </div>
                  <div class="overlay">
                    <button type="button" id="ZPModalButton" class="btn btn-primary btn-lg" data-toggle="modal" data-target="ZPModal" href="#">
                      <span>ABOUT ME</span>
                    </button>
                  </div>
                </div>
                <div class="info">
                  <div class="name"><a id="ZPModalLink" href="#">Zheng-Ping Chen</a></div>
                  <b>Mrs. Zhengping Chen</b> is Licensed by the Ohio Medical Board and is a nationally certified acupuncturist and member of the NCCAOM.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-sm-offset-2">
          <h4>Hours of Operation</h4>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th class="col-sm-8">Days</th>
                <th class="col-sm-4">Hours</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Monday, Wednesday, Friday</td>
                <td>10:00a - 5:00p</td>
              </tr>
            </tbody>
          </table>
          <h4>Fees</h4>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th class="col-sm-8">Service</th>
                <th class="col-sm-4">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Consultation</td>
                <td>FREE</td>
              </tr>
              <tr>
                <td>First Visit</td>
                <td>$125</td>
              </tr>
              <tr>
                <td>Additional Visits</td>
                <td>$75</td>
              </tr>
            </tbody>
          </table>
          <h4>The Acupuncture Clinic of Solon</h4>
          <p>33595 Bainbridge Road, Suite 101, Solon, Ohio 44139</p>
          <div class="map">
            <!--map-->
            <iframe width="100%" height="500px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d748.3213955845508!2d-81.44008399999998!3d41.389603999999984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88311c6e1e3211af%3A0x2b4c1be6b248f1e4!2sAcupuncture+Clinic+of+Solon!5e0!3m2!1sen!2shk!4v1415249192366"></iframe>
          </div>
        </div>
      </div>

    </div>
    <!--/.container-->

    <!-- Modal -->
    <div class="modal fade" id="ZPModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
          	<div class="row">
          		<div class="col-sm-6">
            		<h4 class="modal-title" id="myModalLabel">About <b>Zheng-ping Chen</b></h4>
          		</div>
          		<div class="col-sm-6 text-right">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          		</div>
          	</div>
          </div>
          <div class="modal-body">
            <p>Ms. Zhengping Chen graduated from <a href="http://www.southbaylo.edu" target="_blank">South Baylo University</a> in Anaheim, CA at the top of her class and obtained a Master of Science degree in Acupuncture &amp; Oriental Medicine after its four-year full-time postgraduate program which included 3,000 hours of training. After graduation, she received intensive advanced training at China's most reputable Chinese medical school, the <a href="http://en.wikipedia.org/wiki/Beijing_University_of_Chinese_Medicine" target="_blank">Academy of Traditional Chinese Medicine</a>, in Beijing, China.</p>
            <p>Ms. Zhengping Chen comes from a family of traditional Chinese medical doctors. She is a third generation oriental medical doctor and started to learn acupuncture points and herbs when she was a teenager. She has worked with her mother and sister in Seattle, where her family owns a successful oriental medicine clinic, and is also skilled in herbal health care.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


</template>
