<template name="jumbotron">

  <section class="header-1-sub">
    <div id="pt-main" class="page-transitions pt-perspective">
      <div class="pt-page pt-page-1">
        <div class="background">&nbsp;</div>
        <div class="caption">
          <div class="container">
            <h3>Northeast Ohio's Premier Eastern Medicine Clinic</h3>
            <p class="lead">Come discover Eastern Medicine for yourself.</p>
          </div>
        </div>
      </div>
      <div class="pt-page pt-page-2">
        <div class="background">&nbsp;</div>
        <div class="caption">
          <div class="container">
            <h3>All-Natural Herbal Remedies Available</h3>
            <p class="lead">Gentle on your body. all-natural. No side effects. The way nature intended.</p>
          </div>
        </div>
      </div>
      <div class="pt-page pt-page-3">
        <div class="background">&nbsp;</div>
        <div class="caption">
          <div class="container">
            <h3>Another example headline.</h3>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="container controls">
        <a class="control-prev" href="#">
          <span class="fui-arrow-left"></span>
        </a>
        <a class="control-next" href="#">
          <span class="fui-arrow-right"></span>
        </a>
      </div>
    </div>
  </section>

</template>
